.toolBar{
    margin-top: $M-5;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: $SM){
        flex-direction: column;
        gap: .5rem;
    }
    
    .filterTool{
        display: flex;
        align-items: center;
        gap: .5rem;
    }
}