.table{
    border: 1px solid $SECONDARY-100;
    border-radius: .5rem;
    margin-block: $M-1 $M-2;
    width: 100%;

    .content{
        
        .headerGroup{
            display: grid;
            grid-template-columns: 1fr 1fr 1.25fr;
            width: 100%;
            
            .header{
                border-bottom: 1px solid $PRIMARY-100;
                background-color: $SECONDARY-50;
                text-align: start;
                width: 100%;
                font-size: 13px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &:not(:last-child){
                    border-right: 1px solid $PRIMARY-100;
                }

                @media only screen and (max-width: $SM){
                    padding: $P-1;
                    font-size: 11px;
                }
            }
        }

        .listItem{
            display: grid;
            grid-template-columns: 1fr 1fr 1.25fr;
            background: $SECONDARY-50;
            cursor: default;
            height: 3.75rem;

            &.c{
                background: $MAIN-GRADIENT;
            }

            &:hover{
                scale: 1.001;
                box-shadow: $HOVER-BOX-SHADOW;
            }

            .item{
                padding: $P-3;
                font-size: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &:not(:last-child){
                    border-right: 1px solid $PRIMARY-100;
                }

                @media only screen and (max-width: $SM){
                    padding: $P-1;
                }
            }
            
        }
    }   
}