//COLOR
$PRIMARY-50:  #f5f7ff; /**/
$PRIMARY-100: #C4CEE5;
$PRIMARY-200: #cfc0ff;
$PRIMARY-300: #926efd;
$PRIMARY-400: #744bfc; /**/
$PRIMARY-500: #5024fa;
$PRIMARY-600: #3e20f3;
$PRIMARY-700: #1a17eb;
$PRIMARY-800: #0010e6;
$PRIMARY-900: #0001d8;

$SECONDARY-50:  #ffffff;
$SECONDARY-100: #eaeaea;
$SECONDARY-200: #d9d9d9;
$SECONDARY-300: #c4c4c4; 
$SECONDARY-400: #8C8C8C;
$SECONDARY-500: #7b7b7b;
$SECONDARY-600: #555555;
$SECONDARY-700: #434343;
$SECONDARY-800: #262626;
$SECONDARY-900: #000000;

//BOX-SHADOW
$HOVER-BOX-SHADOW: 0px 1px 15px 0px #0000001C;

//LINEAR-GRADINT
$MAIN-GRADIENT: linear-gradient(180deg, #EFF2FF -30.56%, rgba(232, 236, 255, 0) 135.85%);

//PADDING
$P-0: 0;
$P-1: 0.5rem;   
$P-2: 0.75rem;
$P-3: 1.25rem;
$P-4: 1.875rem;
$P-5: 2.25rem;

//MARGIN
$M-0: 0;
$M-1: 0.75rem;
$M-2: 1.25rem;
$M-3: 1.75rem;
$M-4: 2.25rem;
$M-5: 2.75rem;

