*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
}

body {
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    isolation: isolate;
    color: $SECONDARY-900;
    background: $MAIN-GRADIENT;
    background-repeat: no-repeat;
    height: 100vh;
}
#root, .App{
    height: 100%;
}

html, body {
    font-family: 'inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    flex-shrink: 0;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

a{
    color: $SECONDARY-900;
}

li{
    list-style: none;
}
