.search{
    width: 23.75rem;
    height: 2.625rem;
    background-color: $SECONDARY-50;
    border-radius: 1.30rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input{
        color: $SECONDARY-400;
        font-size: 14px;
        background-color: transparent;
        padding-inline: $P-4;
        height: 100%;
        width: 100%;
    }

    .searchBtn{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding-inline: $P-2;
    }
}