.form{
    width: 23.75rem;
    background-color: $SECONDARY-50;
    border-radius: 1.30rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: $SM){
        width: 20rem;
    }

    input{
        font-size: 14px;
        background-color: transparent;
        border-color: transparent;
        width: 100%;
        padding-inline: $P-4;
    }

    .searchBtn{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding-inline: $P-2;
    }
}