.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    color: $SECONDARY-900;
    font-weight: 500;
    flex-shrink: 0;
    font-size: 14px;

    &:disabled, &[disabled]{
        opacity: .5;
        pointer-events: none;
    }
    &:is(.primary, .secondary, .tertiary, .outline){
        height: 2.625rem;
        padding-inline: $P-3;
        border-radius: 1.30rem;

        &.icon{
            gap: .5rem;
        }
    }

    &.primary{
        background-color: $PRIMARY-400;
        transition: 200ms opacity ease-in-out;
        color: $SECONDARY-50;

        &:hover{
            opacity: .9;
        }
    }

    &.secondary{
        background-color: $PRIMARY-50;
        color: $PRIMARY-400;
        border: 1px solid transparent;
        transition: 200ms border-color ease-in-out;

        &:hover{
            border-color: $PRIMARY-400;
        }
    }

    &.tertiary{
        background-color: $SECONDARY-50;
        color: $PRIMARY-400;
        padding-inline: $P-2;
    }

    &.outline{
        background-color: $SECONDARY-50;
        border: 1px solid $PRIMARY-200;
        color: $SECONDARY-900;
        transition: 200ms border-color ease-in-out;

        &:hover{
            border-color: $PRIMARY-500;
        }
    }

    &.unstyled{

        &.icon{
            color: $PRIMARY-400;
        }
    }
}