.modalContainer{
    position: fixed;
    inset: 0;
    background-color: rgba($SECONDARY-50, .4);
    z-index: 7;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal{
        box-shadow: $HOVER-BOX-SHADOW;
        border-radius: .875rem;
        background-color: $SECONDARY-50;
        z-index: 8;
        
        .header{
            display: flex;
            justify-content: flex-end;
            padding: $P-4;
    
            .closeBtn{
                color: $SECONDARY-700;
            }
        }

        .form{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding: 0 $P-6 $P-6;
            
            input{
                width: 26.5rem;

                @media only screen and (max-width: $SM){
                    width: 18rem;
                }
            }
            
            .actionBtns{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: .5rem;
                margin-top: $M-3;
            }
        }
    
    }
}